<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
    <p class="mb-0 text-muted">© <span id="current-year"></span> Notes, Inc</p>
  </footer>
</div>

<script>
  // Auto-update year
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>